venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/
data/compressed
data/processed
analysis/oldanalysis
data/released
data/tempstorage
data/testing
booting.sh
data/autoseed.sh
src/usertest.ipynb
*.csv
*.pkl
*.png
